body{
    background-image: "Pastel_Background.jpg";
    text-align: center;
}
#player2_login{
    background-color: rgb(231, 130, 235);
    padding:10px;
    color:blueviolet

}
#player1_login{
    background-color: rgb(186, 241, 113);
    padding:10px;
    color: deeppink;
}
#button_login{
    background-color: rgb(240, 211, 82);
width:250px;
height:130px;
color:rgb(238, 238, 128) ;
}
